</div>
</body>
</html>

<script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
<script type="text/javascript" src="/javascripts/vendor/knockout.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/underscore.js"></script>
<script type="text/javascript" src="/javascripts/vendor/backbone.js"></script>
<script type="text/javascript" src="/javascripts/vendor/angular.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/angular-resource.min.js"></script>
<script type="text/javascript" src="/javascripts/vendor/handlebars.js"></script>
<script type="text/javascript" src="/javascripts/vendor/ember.js"></script>