[[ include partials/head ]]

<h1>Backbone: Showing a List of Data</h1>

<div id="app-view">

</div>


<script type="text/javascript" src="/javascripts/vendor/jquery.js"></script>
<script type="text/javascript" src="/javascripts/vendor/underscore.js"></script>
<script type="text/javascript" src="/javascripts/vendor/backbone.js"></script>

<script type="text/javascript">
var Model = Backbone.Model.extend();
var Collection = Backbone.Collection.extend({
  model : Model,
  url : "/orders"
})
var ItemView = Backbone.View.extend({
  tagName : "li",
  render : function(){
    var compiled = _.template("<%=number%>", this.model.toJSON());
    this.$el.html(compiled);
    return this;
  }
});
var ListView = Backbone.View.extend({
  tagName : "ul",
  initialize : function(){
    //set the event rendering triggers
    this.collection.bind("reset", this.render, this);
    this.collection.bind("add", this.render, this);
    this.collection.bind("remove", this.render, this);
  },
  render : function(){
    this.$el.empty();
    var self = this;
    this.collection.each(function(item){
      var itemView = new ItemView({model : item});
      self.$el.append(itemView.render().el);
    });
    return self;
  }
});
var collection = new Collection();
var view = new ListView({collection : collection, el : "#app-view"});
collection.fetch();
</script>



[[ include partials/foot ]]

