[[ include partials/head ]]
<h1>A Lovely List Example</h1>
<form  method="POST" name="scorecard">
  <div class="row">
    <div class="span4">
      <h2>Microsoft .NET</h2>
      <select id="softies" size=10 multiple>
        <option>Hanselman</option>
        <option>Haack</option>
        <option>Conery</option>
        <option>Kohari</option>
        <option>Ashton</option>
        <option>Ayende</option>
      </select>
      <p align="center"><input type="button" onClick="one2two()" value=" >> "></p>
    </div>
    <div class="span4">
      <h2>Rails or Node</h2>
      <select id="hipsters" name=menu2 size=10 multiple ></select>
      <p align="center"><input type="button" onClick="two2one()" value=" << " ></p>
    </div>
  </div>
</form>

<script type="text/javascript">
  function one2two() {
    m1len = m1.length ;
    for ( i=0; i<m1len ; i++){
      if (m1.options[i].selected == true ) {
        m2len = m2.length;
        m2.options[m2len]= new Option(m1.options[i].text);
      }
    }

    for ( i = (m1len -1); i>=0; i--){
      if (m1.options[i].selected == true ) {
        m1.options[i] = null;
      }
    }
  }

  function two2one() {
    m2len = m2.length ;
    for ( i=0; i<m2len ; i++){
      if (m2.options[i].selected == true ) {
        m1len = m1.length;
        m1.options[m1len]= new Option(m2.options[i].text);
      }
    }
    for ( i=(m2len-1); i>=0; i--) {
      if (m2.options[i].selected == true ) {
        m2.options[i] = null;
      }
    }
  };

  var m1 = document.scorecard.softies;
  var m2 = document.scorecard.hipsters;
</script>

[[ include partials/foot ]]

